.work-briefs {
  position: relative;
  overflow: hidden;
}

.has-background-white {
  background: white;
}

.case-study-content {
  padding: 6.5rem 0rem;

  @include mobile {
    padding: 3.25rem 2rem;
  }
}
