.work-briefs {
  position: relative;
  overflow: hidden;
}

.has-background-white {
  background: white;
}

.section--work-brief .container {
  padding-bottom: 100px;
}

.case-study-content {
  padding: 3.25rem 2rem;

  @include desktop {
    padding: 6.5rem 0rem;
  }
}

img.work-background {
  position: absolute;
  left: 0;
  top: 0;
  transition: 500ms opacity;
  opacity: 0;
  max-width: none;
  width: 400px;

  @include tablet {
    width: 1000px;
  }

  @include fullhd {
    width: 1200px;
  }
}

.work-background {
  animation-duration: 30s;
  animation-name: workImagePan;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

img.work-background.entered {
  opacity: 1;
}

@keyframes workImagePan {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-28%, 0, 0);
  }
}

.work-background-image-container {
  position: relative;
  overflow: hidden;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.work-background-box-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: transparent;
  box-shadow: inset 0px 0px 23px 0 rgba(0,0,0,0.3);
  opacity: 0;
  transition: 500ms opacity;
}

.work-background-box-shadow.entering,
.work-background-box-shadow.entered {
  opacity: 1;
}
