.work-briefs {
  position: relative;
  overflow: hidden;
}

.has-background-white {
  background: white;
}

.case-study-content {
  padding: 3.25rem 2rem;

  @include desktop {
    padding: 6.5rem 0rem;
  }
}

img.work-background {
  position: absolute;
  min-width: 100%;
  max-width: 1000%;
  min-height: 100%;
  left: 0;
  top: 0;
  transition: 500ms opacity;
  opacity: 0;
}

img.work-background.entering,
img.work-background.entered {
  opacity: 1;
}

img.width-100 {
  width: 100%;
}

img.height-100 {
  height: 100%;
}
