.down-arrow--container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.down-arrow--button {
  border: 0;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 60px;
  position: relative;
  width: 60px;

  @media (max-width: 600px) {
    height: 50px;
    top: -70px;
    width: 50px;
  }
}

.down-arrow--svg,
.down-arrow--svg--hover {
  position: absolute;
  height: 100%;
  top: -50px;
  left: -5px;
  width: 100%;
}

.down-arrow--button .down-arrow--svg {
  opacity: 0.2;
  animation-name: shake;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: infinite;
}

.down-arrow--button:hover .down-arrow--svg {
  animation: 0;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.down-arrow--button .down-arrow--svg--hover {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.down-arrow--button:hover .down-arrow--svg--hover {
  opacity: 1;
  transform: translate3d(0, 6px, 0);
  transition: all 0.4s ease-in-out;
}
