$mobile-padding: 1.5rem;

.footer {
  background: #333;
  color: #aaa;
  font-size: 20px;
  padding: 4rem 0;

  a {
    color: #c2c7cE;

    &:hover,
    &:focus {
      color: white;
    }

  }

  ul {
    margin-bottom: $mobile-padding;
  }

  @media (max-width: 1087px) {
    padding: $mobile-padding;
  }
}
