$mobile-padding: 1.5rem;

.footer {
  background: #333;
  color: #aaa;
  font-size: 1.2rem;

  a {
    color: #c2c7cE;

    &:hover,
    &:focus {
      color: white;
    }
  }


  ul {
    margin-bottom: $mobile-padding;
    font-size: 0.9em;
    margin-right: 2rem;

    li {
      padding-bottom: 0.5rem;
    }
  }
}

section.section.is-footer {
  padding-top: 0;
  padding-bottom: 1rem;
}

.ul-title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.is-vertical-align-top {
  vertical-align: top;
}
