$mobile-padding: 1.5rem;

.footer {
  background: #333;
  color: #646464;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  a {
    color: #92979E;

    &:hover,
    &:focus {
      color: white;
    }
  }


  ul {
    margin-bottom: $mobile-padding;
    font-size: 0.9em;
    margin-right: 2rem;

    li {
      padding-bottom: 0.5rem;
    }
  }
}

.footer__links {
  padding-top: 3rem;
}

.footer__copyright {
  padding: 3rem 0;
}

.ul-title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.is-vertical-align-top {
  vertical-align: top;
}
