.IndexContent .nav--link {
  color: $work-link-color;
}

.nav--link:hover {
  color: $work-link-hover-color;
}

.subtitle-1,
.subtitle-2,
.subtitle-3 {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;

  > * {
    vertical-align: middle;
  }
}

$prefix-icon-width: 2rem;

.prefix-icon {
  width: $prefix-icon-width;
}

.prefix-icon-list {
  margin-left: $prefix-icon-width;
}

.subtitle-1 {
  color: $work-brand-color;
}

.subtitle-2 {
  color: $light-blue;
}

.subtitle-3 {
  color: $light-orange;
}
