.home .nav--link {
  color: $work-link-color;
}

.testimonial {
  margin-bottom: 2rem;
  position: relative;
}

.testimonial blockquote {
  color: #797979;
  display: block;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.325rem;
  margin: 0 0 10px;
  padding: 0 0 0 0;
}

.testimonial--author {
  color: darken($blueLight, 8%);
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}

.testimonial--author a {
  color: darken($blueLight, 8%);
  border-bottom: 1px solid darken($blueLight, 8%);
}

.team-member--container figure.image {
  height: 400px;
  width: 440px;
  position: relative;

  @media (max-width: $widescreen) {
    height: 320px;
    width: 320px;
  }

  @media (max-width: $tablet) {
    height: 420px;
    width: 85%;
  }

  @media (max-width: 460px) {
    height: 300px;
    width: 100%;
  }
}

.is-team-img {
  height: 100%;
  left: 0;
  max-height: 400px;
  max-width: 440px;
  opacity: 1;
  padding: 5px;
  transition: opacity 2000ms ease-in-out;
  position: absolute !important;
  top: 0;
  width: 100% !important;

  @media (max-width: $widescreen) {
    max-height: 320px;
    max-width: 100%;
  }

  @media (max-width: $tablet) {
    max-height: 420px;
    max-width: 85%;
  }

  @media (max-width: 460px) {
    max-height: 300px;
    max-width: 100%;
  }
}

.image:hover .is-team-img {
  opacity: 0;
}

.image .is-team-img__hovered {
  height: 100%;
  opacity: 0;
  // mix-blend-mode: hard-light; // hard-light, luminosity
  position: absolute !important;
  top: 0;
  transition: opacity 1000ms ease-in-out;
  width: 100%;
  z-index: 3000;
}

.image .is-team-img__hovered picture {
  background-color: $link-color;
  position: absolute;
  top: 5px;
  // right: 5px;
  left: 5px;
  // bottom: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.image .is-team-img__hovered.blue-background picture {
  background-color: rgb(71, 173, 241);
}

.image .is-team-img__hovered img {
  mix-blend-mode: screen;
}

.image .is-team-img__hovered:hover {
  opacity: 1;
}

.is-team-img img {
  padding: 5px;
}

.is-team-img__hovered img {
  padding: 0;
}

.team-member--container {
  margin-top: 20px;
}

.team-member--name {
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 12px;
}

.team-member--bio {
  color: #909090;
  font-size: 1.25rem;
  margin-bottom: 0;
  top: -8px;
  position: relative;

  @media (min-width: $navbar-breakpoint) {
    width: 80%;
  }
}

.team-member--contact {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.team-member--contact .inline-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
