.home .nav--link {
  color: $work-link-color;
}

.testimonial {
  margin-bottom: 2rem;
  position: relative;
}

.testimonial blockquote {
  color: #797979;
  display: block;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.325rem;
  margin: 0 0 10px;
  padding: 0 0 0 0;
}

.testimonial--author {
  color: darken($blueLight, 8%);
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
}

.testimonial--author a {
  color: darken($blueLight, 8%);
  border-bottom: 1px solid darken($blueLight, 8%);
}

.is-team-img img {
  padding: 5px;
}

.team-member--container {
  display: grid;
  margin-top: 20px;
}

.team-member--name {
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 12px;
}

.team-member--bio {
  color: #909090;
  font-size: 1.25rem;
  margin-bottom: 0;
  top: -8px;
  position: relative;
  width: 80%;
}

.team-member--contact {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.team-member--contact .inline-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
