$navbar-mobile-height: 73px;

.nav-background {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s opacity;
  opacity: 0;
  z-index: -1;
}

.nav-background.is-active {
  pointer-events: initial;
  z-index: 999;
  opacity: 0.5;
}

.brand path {
  fill: $work-brand-color;
  transition: fill 0.5s ease-in-out;
}

.brand:hover path {
  fill: $work-brand-hover-color;
}

.home .brand path {
  fill: white;
}

@media all and (max-width: 768px) {
  .navbar,
  .navbar-brand,
  .navbar-burger {
    min-height: $navbar-mobile-height;
  }

  .navbar-item.brand {
    max-width: 40%;
  }
}

@media all and (max-width: 480px) {
  .navbar-item.brand {
    max-width: 60%;
  }
}

.navbar-burger {
  color: $work-brand-color;
  height: 6rem;
  margin-top: 2rem;
  width: 6rem;

  @media all and (max-width: 768px) {
    margin-top: 0.5rem;
    height: 73px;
    width: 73px;
  }
}

.navbar-burger:hover {
  background: transparent;
}

.navbar-burger:hover span {
  height: 2px;
}

.home .navbar-brand.is-active .navbar-burger {
  @media all and (max-width: $navbar-breakpoint) {
    color: $work-brand-color;
  }
}

.navbar {
  height: 200px;
  position: absolute;
  transition: 500ms all ease-in-out;
  width: 100%;
  z-index: 1002;

  @media (max-width: 1000px) {
    height: 80px;
  }
}

.brand {
  margin: 0 1rem;
  transition: 500ms all ease-in-out;
}

.navbar-item button,
.navbar-item .button {
  padding: 1rem;
}

.navbar-menu.is-active {
  background-color: white;
  box-shadow: 0 30px 10px 0 rgba(80,100,160,.2), 0 5px 30px rgba(0,0,0,.1);
  border-bottom: 20px solid #f6f6f6;
  padding: 0.5rem 0px;
}

.navbar-brand.is-active {
  background-color: white;
  transition: background-color 1000ms cubic-bezier(0.36, 0.07, 0.19, 1.27);
}

.home .navbar-brand.is-active path {
  fill: $work-brand-color;
}

.navbar-menu {
  @media (max-width: 1087px) {
    position: absolute;
    transition: 500ms all ease-in-out;
    display: block;
    transform: translate3d(0, -600px, 0);
    transition: transform 400ms cubic-bezier(0.36, 0.07, 0.19, 1.27);
    width: 100%
  }
}

.navbar-menu.is-active {
  left: 0;
  transform: translate3d(0, 0, 0);
}

.home .navbar-menu.is-active .navbar-item a {
  color: lighten($link-color, 20%);
}

.home .navbar-menu.is-active .navbar-item a:hover {
  color: $link-color;
}

.navbar-item a {
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: lighten($work-link-color, 20%);
}

.navbar-item a:focus {
  color: lighten($work-link-color, 20%);
}

.navbar-item a.is-active::after,
.navbar-item a:hover::after {
  transform: scaleX(1);

  @media (max-width: $navbar-breakpoint) {
    transform: scaleX(0);
  }
}

.navbar-item a::after {
  content: '';
  display: block;
  width: 100%;
  margin-top: 4px;
  height: 4px;
  transition: transform 150ms ease-in-out;
  transform: scaleX(0);
  background-color: lighten($work-link-color, 30%);

  @media all and (max-width: $navbar-breakpoint) {
  }
}

.home .navbar-item a.is-active:after {
  background-color: rgba(255, 255, 255, 0.6);
}

.home .navbar-item a::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.navbar-item a:hover {
  color: $work-link-color;
}

.navbar-menu.is-active {
  text-align: right;
}

.home .navbar .navbar-burger {
  color: white;
}

.home .navbar-item a {
  color: rgba(255, 255, 255, 0.7);
}

.home .navbar-item a:hover {
  color: white;
}

.about svg.brand {
  margin-left: 0;

  @media (max-width: 1000px) {
    width: 400px;
  }

  @media (max-width: 460px) {
    width: 300px;
  }
}

.brand svg {
  margin-left: -10px;
  height: 57px;
  width: 380px;

  @media (max-width: 1087px) {
    margin-left: 0;
  }
}

.navbar-item,
.navbar-link {
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.navbar-menu.is-active .navbar-link {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.navbar-menu.is-active .navbar-item {
  padding-right: 2.75rem;
}
