$navbar-mobile-height: 73px;

@media all and (max-width: 800px) {
  .navbar,
  .navbar-brand,
  .navbar-burger {
    min-height: $navbar-mobile-height;
  }
  .navbar-burger {
    // height: $navbar-mobile-height;
    // width: $navbar-mobile-height;
    height: 73px;
    width: 73px;
  }
  .navbar-item.brand {
    margin: 0 1rem;
    max-width: 50%;
  }
}

.navbar {
  z-index: 1002;
}

.navbar-item button,
.navbar-item .button {
  padding: 1rem;
}

.navbar-menu.is-active {
  background-color: white;
  box-shadow: none;
  border-bottom: 3px solid #ddd;
  padding: 0.5rem 0px;

  @media screen and (max-width: 1087px) {

  }
}

.navbar-menu.is-active a {
  margin-bottom: 0;
}

.home .navbar-menu.is-active .navbar-item a {
  color: pink;
}

.home .navbar-menu.is-active {
  position: absolute;
  top: $navbar-mobile-height;
  left: 0;
  width: 100%
}

.navbar-burger {
  color: $work-brand-color;
}

.navbar.is-inverted .navbar-burger {
  color: white;
}

.navbar-item a {
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: $work-link-color;
  border-bottom: 4px solid;
  border-color: transparent;
}

.navbar-item a.is-active {
  border-bottom: 4px solid;
}

.navbar-item a:focus {
  // color: $work-link-hover-color;
}

.navbar-item a:hover {
  // color: $work-link-hover-color;
}

.navbar-item a.is-inverted {
  color: white;
}

.navbar-item a.is-inverted:hover {
  color: $work-brand-color;
}

.navbar-menu.is-active {
  text-align: right;
}
