$light-blue: #77bce6;
$light-purple: #a28ad2;
$lighter-purple: #ac9de8;

html {
  width: 100%;
  height: 100%;
}

.header-3d {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  background: linear-gradient($light-blue, $light-purple, $lighter-purple);

  @include tablet {
    height: 100vh;
    max-height: 800px;
  }
}

.header-3d__spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(white, transparent);
  opacity: 0.9;
}

canvas.delta-camp-3d {
  position: absolute;
  top: 3vh;
  right: 4vw;
  margin: auto;
  opacity: 0;
  transition: 4s opacity;
  min-height: 400px;
  width: 100%;
  z-index: 99;
}

@media screen and (max-width: 480px) {
  canvas.delta-camp-3d {
    top: 250px;
    right: 1vw;
  }
}

canvas.delta-camp-3d.is-loaded {
  opacity: 1;
}
