$light-blue: #77bce6;
$light-purple: #a28ad2;
$lighter-purple: #ac9de8;

.header-3d {
  background: linear-gradient($light-blue, $light-purple, $lighter-purple);
}

.header-3d__spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(white, transparent);
  opacity: 0.9;
}

canvas.delta-camp-3d {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 4s opacity;
  height: 100vh;
  width: 100vw;
}

canvas.delta-camp-3d.is-loaded {
  opacity: 1;
}
