.work-brief--link:hover {
  @include tablet {
    color: $link-color;
  }
}

.work-brief--link {
  display: block;
  margin-bottom: 6.5rem;
  color: $link-color;

  @include mobile {
    margin-bottom: 3.25rem;
  }
  @include tablet {
    color: inherit;
  }
}

.work-brief--title {
  color: inherit;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.work-brief--subtitle {
  color: inherit;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  .light {
    color: grey;
  }
}

.work-brief.is-active {
  color: $link-color;
}
