.work-brief--link {
  display: block;
  margin-bottom: 6rem;
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: -3rem;
  padding: 3rem 4rem;
  transition: background-color 200ms ease-in-out;
  z-index: 99;

  @include mobile {
    margin-bottom: 3.25rem;
  }
}

.work-brief--link:hover {
  color: $link-color;
}

.work-brief--title {
  margin-bottom: 0.375rem;
  line-height: 1.1;
  color: #3a3a3a;
}

.work-brief--link:hover .work-brief--title {
  color: #000;
  transition: color 200ms ease-in-out;
}

.work-brief--subtitle {
  color: inherit;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.work-brief--link .is-light {
  color: #aaa;
  transition: color 200ms ease-in-out;
}

.work-brief--link:hover .work-brief--subtitle,
.work-brief--link:hover .is-light {
  color: $link-color;
}

.work-brief.is-active {
  color: $link-color;
}

.work-brief--img-container {
  transition: all 600ms cubic-bezier(0.36, 0.07, 0.19, 1.27);

  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
}

.work-brief--img {
  padding: 5px;
  transition: all 1200ms cubic-bezier(0.36, 0.07, 0.19, 1.27);

  @media (max-width: 800px) {
    max-width: 100%;
    min-height: 320px !important;
    height: auto !important;
    line-height: 1 !important;
    width: 100% !important;
  }

  @media (max-width: 600px) {
    min-height: auto !important;
  }
}

.work-brief-img--caption {
  display: block;
  font-size: 1.25rem;
  line-height: 1.75;
  margin: 1rem 2rem 1rem;

  @media (max-width: 600px) {
    font-size: 1.25rem;
  }
}

.work-brief-img--caption strong {
  display: block;
}

.icon--work-view-live {
  font-size: 1.325rem;
  position: relative;
  top: 3px;
}
