@import "./dracula-prism.css";

.blog .container--navbar {
  max-width: 96%;
  width: 96%;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    width: 100%;
  }
}

.blog .container--navbar .navbar {
  height: 100px;
}

.blog .navbar-item.brand .brand {
  @media screen and (min-width: 768px) {
    transform: scale(0.5) translate3d(-200px, 0, 0);
  }
}

.blog-post--listing {
  margin-bottom: 100px;
}

.blog-post--author-container {
  display: grid;
  grid-template-columns: 90px 1fr 1fr;
  grid-template-rows: 40px 40px;
  grid-template-areas: "photo name name" "photo date date";
  margin-top: 20px;
}

.blog-post--author-container figure {
  grid-area: photo;
}

.blog-post--author-container .post-author {
  font-size: 1.25rem;
  font-weight: 400;
  grid-area: name;
  padding-top: 12px;
}

.blog-post--author-container .post-date {
  color: #777;
  font-size: 1.25rem;
  grid-area: date;
  margin-bottom: 0;
  padding-top: 0;
  top: -4px;
  position: relative;
}

.blog .is-rounded--shadow {
  overflow: visible !important;
}

.blog .is-rounded--shadow picture img {
  border: 3px solid white;
  background: transparent;
  border-radius: 100%;
  box-shadow: 0 2px 20px 0 rgba(120, 120, 120, 0.15);
  margin: 2px;
}

.blog-intro {
  font-size: 1.5rem;

  @media all and (max-width: 768px) {
    margin-top: -20px;
    font-size: 1.125rem;
  }
}

.tag-list {
  font-size: 1rem;
  text-transform: uppercase;
}

.gatsby-highlight {
  border-radius: 0;
  box-shadow: 0 5px 15px 0 rgba(100,120,150,.2),
    0 2px 7px rgba(100,100,100,.1) !important;
  margin: 2rem 0 2rem;
  padding: 0;
  overflow: auto;
}

.gatsby-highlight-code-line {
  background-color: rgba(120, 150, 255, 0.1);
  display: block;
  margin-right: -2rem;
  margin-left: -1.125rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  border-left: 0.25rem solid #115587;
}

.gatsby-highlight-code-line:hover {
  background-color: rgba(120, 150, 255, 0.2);
}

:not(pre) > code[class*="language-"] {
  border-radius: 0;
  font-size: 1rem;
  top: -2px;
  padding: 0.5rem 1rem;
  position: relative;
}

.line-numbers .line-numbers-rows {
  margin-top: 1rem;
}

.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  font-size: 1rem;
  margin: 0;
  // overflow: initial;
  overflow: hidden;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
  padding-right: 2rem;
  border-radius: 2px;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
.gatsby-highlight pre ::selection,
:not(pre) > code[class*="language-"] ::selection {
  background-color: #000 !important;
  color: white !important;
}

.line-numbers .line-numbers-rows {
  border-right: 1px solid #446 !important;
  padding-right: 0;
  padding-left: 0.75rem;
  width: 100%;
}

.line-numbers-rows > span:before {
  color: #568 !important;
}

.blog-post--content h1,
.blog-post--content h2,
.blog-post--content h3 {
  font-weight: 700;
  margin-top: 5rem;
}

.blog-post--content h1 {
  font-family: 'source-serif-pro', serif;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.blog-post--content h2 {
  font-family: 'source-serif-pro', serif;

  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.blog-post--content h3 {
  font-family: 'source-serif-pro', serif;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.blog-post--content p {
  font-family: 'source-serif-pro', serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.blog-post--content em {
  font-family: 'source-serif-pro', serif;
  font-style: italic;
}

p.excerpt {
  font-size: 1.5rem;
}
