@charset "utf-8";

$navbar-background-color: transparent;
$navbar-item-hover-background-color: none;
$navbar-height: 9.875rem;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/layout/section.sass";
