@charset "utf-8";

$body-line-height: 1.3;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: none;
$navbar-height: 9.875rem;

$link: $link-color;
$link-invert: white;
$link-visited: $link-color;
$link-hover: $work-link-hover-color;
$link-hover-border: $work-link-hover-color;
$link-focus: $link-color;
$link-focus-border: $link-color;
$link-active: $link-color;
$link-active-border: $link-color;

$success: #1fb90a;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/grid/tiles.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/hero.sass";
