@import "./variables.css.scss";
@import "./bulma_and_overrides.css.scss";
@import "./components/_all.css.scss";

// Acier BAT Noir
// font-family: acier-bat-noir, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Acier BAT Text Solid
// font-family: acier-bat-solid, sans-serif;
// font-weight: 400;
// font-style: normal;
//
//
// Acier BAT Text Outline
// font-family: acier-bat-outline, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Acier BAT Text Gris
// font-family: acier-bat-gris, sans-serif;
// font-weight: 400;
// font-style: normal;

// Futura PT Heavy
// font-family: futura-pt, sans-serif;
// font-weight: 700;
// font-style: normal;
//
// Futura PT Heavy Oblique
// font-family: futura-pt, sans-serif;
// font-weight: 700;
// font-style: italic;
//
// Futura PT Book
// font-family: futura-pt, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Futura PT Book Oblique
// font-family: futura-pt, sans-serif;
// font-weight: 400;
// font-style: italic;
//
// Futura PT Bold
// font-family: futura-pt-bold, sans-serif;
// font-weight: 700;
// font-style: normal;
//
// Futura PT Bold Oblique
// font-family: futura-pt-bold, sans-serif;
// font-weight: 700;
// font-style: italic;
//
// Futura PT Cond Book
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Futura PT Cond Book Oblique
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 400;
// font-style: italic;
//
// Futura PT Cond Bold
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 700;
// font-style: normal;
//
// Futura PT Cond Bold Oblique
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 700;
// font-style: italic;

* {
  box-sizing: border-box;
}

/* TypeKit font loading */
.wf-loading .nav--link,
.wf-loading .nav--list-item,
.wf-loading .brand {
  font-family: "acier-bat-solid", Verdana, sans-serif;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: all 1.2s ease-in-out;
}

.wf-active .nav--link,
.wf-active .nav--list-item,
.wf-active .brand {
  opacity: 1;
  visibility: visible;
  transition: 1.2s;
  transform: translate3d(0, 0, 0);
}

.wf-loading p,
.wf-loading .post-title,
.wf-loading .continue-reading,
.wf-loading .post {
  font-family: 'futura-pt', sans-serif;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  transition: all 0.7s ease-in-out;
}

.wf-active p,
.wf-active .post-title,
.wf-active .continue-reading,
.wf-active .post {
  opacity: 1;
  visibility: visible;
  transition: 0.7s;
  transform: translate3d(0, 0, 0);
}

/* TypeKit font loading */

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.video-responsive {
  max-width: 100%;
}

.hide-on-desktop {
  @media (min-width: 800px) {
    display: none;
  }

}

.hide-on-mobile {
  @media (max-width: 800px) {
    display: none;
  }

}

.clear-both {
  clear: both;
}

body {
  color: #565659;
  font-family: 'futura-pt', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

a {
  transition: color 0.2s ease;
  text-decoration: none;
}

hr {
  border-color: #f0f0f0;
}

h1,
h2,
h3 {
  font-family: "futura-pt", sans-serif;
}

h4,
h5,
h6 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121218;
  text-transform: uppercase;
  font-style: initial;
}

h1 {
  line-height: 1;
  font-size: 7.0vh;
  margin-bottom: 1.75vh;
  line-height: 1.1em;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;

  @media (max-width: 800px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;

  @media (max-width: 800px) {
    font-size: 2.5rem;
  }
}

h4 {
  letter-spacing: 0;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;

  @media (max-width: 800px) {
    font-size: 2rem;
  }
}

h5 {
  font-size: 2rem;
  margin-bottom: 1rem;

  @media (max-width: 800px) {
    font-size: 1.75rem;
  }
}

h5 small {
  font-size: 1.25rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

em {
  color: #333;
  font-style: initial;
  font-weight: 700;
}

p {
  font-size: 1.75rem;
  line-height: 1.75;
  margin: 0 0 40px 0;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

li {
  font-size: 1.75rem;
  margin: 0.5rem 0 0.5rem;
}

.section {
  padding: 3rem 1.5rem;

  @media (max-width: 800px) {
    padding: 2.5rem 1.5rem;
  }
}

.section.first {
  padding-top: 240px;

  @media (max-width: 768px) {
    padding-top: 120px;
  }
}

.page-title,
.page-subtitle {
  font-family: 'acier-bat-solid';
}

.page-subtitle {
  letter-spacing: 1px;
}

.about {
  position: relative;
  height: 100%;
  z-index: 1001;
}

.down-arrow--button {
  border: 0;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 100px;
  position: relative;
  top: -20px;
  width: 100px;

  @media (max-width: 600px) {
    height: 50px;
    width: 50px;
  }
}

.down-arrow--svg,
.down-arrow--svg--hover {
  position: absolute;
  height: 100%;
  top: -20px;
  left: -5px;
  width: 100%;
}

.down-arrow--button .down-arrow--svg {
  opacity: 0.2;
  animation-name: shake;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: infinite;
}

.down-arrow--button:hover .down-arrow--svg {
  animation: 0;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.down-arrow--button .down-arrow--svg--hover {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.down-arrow--button:hover .down-arrow--svg--hover {
  opacity: 1;
  transform: translate3d(0, 6px, 0);
  transition: all 0.4s ease-in-out;
}

.hero .hero-body {
  padding-bottom: 0;
  padding-top: 0;
}

.hero-h1 {
  color: white;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 7.0vh;
  margin: 0 0 50px;

  @media (max-width: 520px) {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.hero-h4 {
  font-size: 4.0vh;
  line-height: 1.3;
  margin-bottom: 3.5rem;

  @media (max-width: 420px) {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}

.large--text {
  font-size: 22px;
  margin-bottom: 15px;

  @media (max-width: 1000px) {
    font-size: 17px;
  }

}

ul.list--basic {
  list-style: none;
}

.work-layout--cta {
  background: #f7f7f7;
  padding: 0 0 50px 0;
  margin: 40px 0;
}

.work-layout--copy {
  padding-top: 47px;

  @media (max-width: 800px) {
    padding-top: 0;
  }

}

.post-title {
  font-family: "calluna", "Georgia", serif;
  font-size: 30px;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  padding-top: 40px;
  position: relative;
  text-transform: none;
  z-index: 1000;

  @media (max-width: 800px) {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 24px;
  }

}

.caption {
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.no-padding {
  padding: 0 !important;
}

.pagination {
  margin-top: 80px;
}


.footer {
  background: #fff;
  color: #c2c7cE;
  font-size: 20px;
  padding: 1.5rem 0;

  a {
    color: #92979E;

    &:hover,
    &:focus {
      color: #22272E;
    }

  }

  @media (max-width: 1087px) {
    padding: 1.5rem;
  }
}

p.copyright {
  margin: 30px 0 20px;

  @media (max-width: 1000px) {
    font-size: 13px;
  }

}

p.footnote {
  font-size: 13px;

  @media (max-width: 1000px) {
    font-size: 11px;
  }

}



@font-face {
  font-family: 'si';
  src: url(asset_path('socicon.eot'));
  src: url(asset_path('socicon.eot?#iefix')) format('embedded-opentype'),
       url(asset_path('socicon.woff')) format('woff'),
       url(asset_path('socicon.ttf')) format('truetype'),
       url(asset_path('socicon.svg#icomoonregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family:si;
    src: url(asset_path('socicon.svg')) format(svg);
  }

}


.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.soc li a {
  transition: background-color 0.5s ease;
  transition: opacity 0.5s ease;

  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 51px;
  height: 51px;
  line-height: 51px;
  font-size: 28px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right: 20px;
  color: #ffffff;
}

.soc li:last-child a {
  margin-right: 0;
}

.soc a:hover {
  color: #fff;
  z-index: 2;
}

.soc-icon-last{
  margin: 0 !important;
}

.soc-github {
  background-color: rgb(36, 41, 46);
}

.soc-github:before {
  background: transparent url(asset_path('github-logo.png')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-twitter {
  background-color: #4da7de;
}

.soc-twitter:before {
  background: transparent url(asset_path('twitter-logo.png')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-linkedin {
  background-color: #3371b7;
}

.soc-linkedin:before {
  background: transparent url(asset_path('linkedin-logo.png')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-github:hover {
  background-color: #617181;
  opacity: 0.8;
}

.soc-twitter:hover {
  background-color: #61bbf2;
  opacity: 0.8;
}

.soc-facebook:hover {
  background-color: #526fac;
  opacity: 0.8;
}

.soc-linkedin:hover {
  background-color: #4785cb;
  opacity: 0.8;
}

.soc-dribbble {
  background-color: #EA4C89;
}

.soc-dribbble:before {
  background: transparent url(asset_path('dribbble-logo.svg')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-dribbble:hover {
  background-color: #FA5CA9;
  opacity: 0.8;
}

/* Testimonials */
.testimonials--container {
  margin: 0 0 50px;
  position: relative;

  @media (min-width: 800px) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding-bottom: 40px;
  }

}

.testimonials--container--dark {
  background: #f3f3f3;
}

.testimonial-top {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 43%;
  width: 100%;
  z-index: 1;
}

.testimonial-top--dark {
  background: #f3f3f3;
}

.testimonial-bottom {
  background: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 43%;
  width: 100%;
  z-index: 1;
}

.testimonial-bottom--light {
  background: #fff;
}

.testimonial {
  background: #fff;
  position: relative;
  z-index: 1000;
}

.testimonial.is-purple blockquote {
  border-color: #ba8ace;
}

.testimonial.is-purple span.testimonial-name {
  color: #ba8ace;
}

.testimonial.is-green blockquote {
  border-color: #a2d89e;
}

.testimonial.is-green span.testimonial-name {
  color: #a2d89e;
}

.testimonial.is-orange blockquote {
  border-color: #efb765;
}

.testimonial.is-orange span.testimonial-name {
  color: #efb765;
}

.testimonial blockquote {
  border-left: 0;
  border-top: 10px solid #ba8ace;
  color: #666;
  display: block;
  line-height: 5rem;
  font-size: 3.20112rem;
  margin: 40px 0 10px;
  padding: 30px 0 0 0;
}

.testimonial blockquote p {
  padding: 0 30px;
}

.author {
  margin-top: 40px;
}

.author,
.testimonial .testimonial-author {
  overflow: hidden;
  padding: 0 30px 30px;
}

.author--avatar,
.testimonial-author--avatar {
  float: left;
}

.author--name,
.testimonial-author--name {
  float: left;
  margin: 10px;
}

.author img,
.testimonial .testimonial-author img {
  border: 1px solid #f5f5f5;
  border-radius: 150px !important;
  height: 75px;
  margin-right: 10px;
  padding: 3px;
  width: 75px;
}

.author span,
.testimonial .testimonial-author span {
  display: block;
}

.name,
.testimonial span.testimonial-name {
  color: #ba8ace;
  font-weight: 300;
}

.post,
.testimonial span.testimonial-post {
  color: #656565;
}

.text-block-1 {
  margin: 140px 0 0;
}

.text-block-2 {
  margin-top: 0 !important;
}

.ship-animation {
  background: transparent;
  height: 200px;
  margin-left: -50px;
  margin-right: -50px;
  padding: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-width: 2px;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 3vh;
  letter-spacing: 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2px;
  padding-top: 3px;
  transition: 0.2s;
}

button[type="submit"] {
  margin-top: 20px;
  margin-right: 0;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  // box-shadow: 2px 2px 0 0 rgba(54, 54, 54, 0.15);
  // padding-top: 2px;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  // box-shadow: 1px 1px 0 0 rgba(54, 54, 54, 0.05);
  // padding-top: 4px;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $primary-btn-background-color;
  border-color: $primary-btn-border-color;
  color: $primary-btn-color;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: $primary-btn-background-hover-color;
  border-color: $primary-btn-background-hover-color;
}

.button.button-outline,
button.button-outline,
input[type="submit"].button-outline,
input[type="reset"].button-outline,
input[type="button"].button-outline {
  background-color: $outline-btn-background-color;
  border-color: $outline-btn-border-color;
  color: $outline-btn-color;
}

.button.button-outline:hover,
button.button-outline:hover,
input[type="submit"].button-outline:hover,
input[type="reset"].button-outline:hover,
input[type="button"].button-outline:hover,
.button.button-outline:focus,
button.button-outline:focus,
input[type="submit"].button-outline:focus,
input[type="reset"].button-outline:focus,
input[type="button"].button-outline:focus {
  background-color: $outline-btn-background-hover-color;
  border-color: $outline-btn-border-hover-color;
  color: $outline-btn-hover-color;
}

label,
.label {
  color: #aaa;
  cursor: pointer;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.label:not(:last-child) {
  margin-bottom: 0.25rem;
}

input.input,
textarea.textarea {
  border-radius: 0;
  font-family: "futura-pt", Verdana, sans-serif;
  // font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  height: 50px;
  padding: 5px 15px 3px;
  border-bottom: 3px solid #ddd;
  box-shadow: none;
}

textarea.textarea {
  height: auto;
}

input.input:hover,
input.input:active,
input.input:focus,
textarea.textarea:hover,
textarea.textarea:focus,
textarea.textarea:active {
  border: 1px solid #ddd;
  border-bottom: 3px solid $link-color;
  box-shadow: none;
}

.has-background-grey {
  background: $grey;
}

form {
  padding: 3.5rem 0 8rem;

  @media (max-width: 800px) {
    margin: 0.25rem;
    padding: 0.5rem 0.5rem 8rem;
  }
}

.field:not(:last-child) {
  margin-bottom: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.masonry-layout {
  margin: 0 0 40px;

  @media (max-width: 800px) {
    width: 100% !important;
  }
}

.masonry-layout > div {
  @media (max-width: 800px) {
    min-height: 320px !important;
    height: auto !important;
    line-height: 1 !important;
    width: 100% !important;
  }

  @media (max-width: 600px) {
    min-height: 260px !important;
  }

  @media (max-width: 460px) {
    min-height: 150px !important;
  }
}

.masonry-layout img {
  @media (max-width: 800px) {
    max-width: 100%;
  }
}

@keyframes shake {
  2% {
    opacity: 0.2;
    transform: translate3d(0, 6px, 0);
    // width: 20%;
  }

  12% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
    // width: 24%;
  }

  27% {
    opacity: 0.8;
    transform: translate3d(0, 10px, 0);
    // width: 26%;
  }

  40% {
    opacity: 0.8;
    transform: translate3d(0, 0, 0);
    // width: 20%;
  }

  100% {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
    // width: 20%;
  }
}

.page-transition-entered {
  animation: fade-in 1200ms;
}

.page-transition-entering {
  animation: fade-in 1200ms;
  opacity: 0;
}

.page-transition-exiting {
  opacity: 0;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
