@import "./variables.css.scss";
@import "./bulma_and_overrides.css.scss";
@import "./components/_all.css.scss";
@import "./pages/_all.css.scss";

// Acier BAT Noir 'acier-bat-noir', 400
// Acier BAT Text Solid 'acier-bat-solid', 400
// Acier BAT Text Outline 'acier-bat-outline', 400
// Acier BAT Text Gris 'acier-bat-gris', 400
//
// Futura PT Heavy 'futura-pt', 700
// Futura PT Heavy Oblique 'futura-pt', 700, font-style: italic;
// Futura PT Book 'futura-pt', 400
// Futura PT Book Oblique 'futura-pt', 400, font-style: italic;

// Source Serif Pro Regular, 'source-serif-pro', font-weight: 400; font-style: normal;
// Source Serif Pro Bold, 'source-serif-pro', font-weight: 700; font-style: normal;
// Source Serif Pro Italic, 'source-serif-pro', font-weight: 400; font-style: italic;
// Source Serif Pro Bold Italic, 'source-serif-pro', font-weight: 700; font-style: italic;

::selection {
  background-color: $link-color;
  color: white;
}

* {
  box-sizing: border-box;
}

em {
  font-family: 'futura-pt';
  font-weight: 400;
  font-style: italic;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.video-responsive {
  max-width: 100%;
}

.hide-on-desktop {
  @media (min-width: 800px) {
    display: none;
  }
}

.hide-on-mobile {
  @media (max-width: 800px) {
    display: none;
  }
}

.clear-both {
  clear: both;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  border-top: 6px solid $link-color;
  color: #363639;
  font-family: 'futura-pt', sans-serif;
  font-size: 1.5rem;
  transition: border-color 2s ease-in-out;
}

.home body {
  border-color: lighten($link-color, 20%);
}

a {
  transition: color 0.2s ease;
  text-decoration: none;
}

hr {
  border-color: #f0f0f0;
}

h1,
h2,
h3 {
  font-family: "futura-pt", sans-serif;
}

h4,
h5,
h6 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121218;
  font-style: initial;
}

h1 {
  line-height: 1;
  font-size: 2.75rem;
  margin-bottom: 1.75vh;
  line-height: 1.1em;
}

h1 small {
  font-size: 1.5rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;

  @media (max-width: 800px) {
    font-size: 2.3rem;
  }
}

h2 small {
  font-size: 1.5rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;

  @media (max-width: 800px) {
    font-size: 2.1rem;
  }
}

h3 small {
  font-size: 1.25rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h4 {
  letter-spacing: 0;
  font-size: 2rem;
  margin-bottom: 1.25rem;

  @media (max-width: 800px) {
    font-size: 2rem;
  }
}

h4 small {
  font-size: 1.25rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1.8rem;
  margin-bottom: 1rem;

  @media (max-width: 800px) {
    font-size: 1.75rem;
  }
}

h5 small {
  font-size: 1.25rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

h6 small {
  font-size: 1rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 0 40px 0;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

li {
  margin: 0.5rem 0 0.5rem;
}

.section {
  padding: 3rem 1.5rem;

  @media (max-width: 800px) {
    padding: 2.5rem 1.5rem;
  }
}

.section.first {
  padding-top: 240px;

  @media (max-width: 768px) {
    padding-top: 120px;
  }
}

.page-title,
.page-subtitle {
  font-family: 'acier-bat-solid';
}

.page-subtitle {
  letter-spacing: 1px;
}

.about {
  position: relative;
  height: 100%;
  z-index: 1001;
}

.hero-h1 {
  color: white;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  text-transform: uppercase;

  @media (max-width: 520px) {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.hero-h4 {
  color: #444444;
  line-height: 1.3;
  margin-bottom: 3.5rem;

  @media (max-width: 420px) {
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 1.6rem;
  }
}

.large--text {
  font-size: 22px;
  margin-bottom: 15px;

  @media (max-width: 1000px) {
    font-size: 17px;
  }
}

ul.list--basic {
  list-style: none;
}

.work-layout--cta {
  background: #f7f7f7;
  padding: 0 0 50px 0;
  margin: 40px 0;
}

.work-layout--copy {
  padding-top: 47px;

  @media (max-width: 800px) {
    padding-top: 0;
  }

}

.post-title {
  font-family: "calluna", "Georgia", serif;
  font-size: 30px;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  padding-top: 40px;
  position: relative;
  text-transform: none;
  z-index: 1000;

  @media (max-width: 800px) {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 24px;
  }

}

.caption {
  color: #888;
  display: block;
  font-size: 20px;
  font-style: italic;
  margin-top: 6px;
  margin-bottom: 30px;
}

/* Testimonials */
.testimonials--container {
  margin: 0 0 50px;
  position: relative;

  @media (min-width: 800px) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding-bottom: 40px;
  }

}

.testimonials--container--dark {
  background: #f3f3f3;
}

.testimonial-top {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 43%;
  width: 100%;
  z-index: 1;
}

.testimonial-top--dark {
  background: #f3f3f3;
}

.testimonial-bottom {
  background: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 43%;
  width: 100%;
  z-index: 1;
}

.testimonial-bottom--light {
  background: #fff;
}

.testimonial {
  background: #fff;
  position: relative;
  z-index: 1000;
}

.testimonial.is-purple blockquote {
  border-color: #ba8ace;
}

.testimonial.is-purple span.testimonial-name {
  color: #ba8ace;
}

.testimonial.is-green blockquote {
  border-color: #a2d89e;
}

.testimonial.is-green span.testimonial-name {
  color: #a2d89e;
}

.testimonial.is-orange blockquote {
  border-color: #efb765;
}

.testimonial.is-orange span.testimonial-name {
  color: #efb765;
}

.testimonial blockquote {
  border-left: 0;
  border-top: 10px solid #ba8ace;
  color: #666;
  display: block;
  line-height: 5rem;
  font-size: 3.20112rem;
  margin: 40px 0 10px;
  padding: 30px 0 0 0;
}

.testimonial blockquote p {
  padding: 0 30px;
}

.author {
  margin-top: 40px;
}

.author,
.testimonial .testimonial-author {
  overflow: hidden;
  padding: 0 30px 30px;
}

.author--avatar,
.testimonial-author--avatar {
  float: left;
}

.author--name,
.testimonial-author--name {
  float: left;
  margin: 10px;
}

.author img,
.testimonial .testimonial-author img {
  border: 1px solid #f5f5f5;
  border-radius: 150px !important;
  height: 75px;
  margin-right: 10px;
  padding: 3px;
  width: 75px;
}

.author span,
.testimonial .testimonial-author span {
  display: block;
}

.name,
.testimonial span.testimonial-name {
  color: #ba8ace;
  font-weight: 300;
}

.post,
.testimonial span.testimonial-post {
  color: #656565;
}

.text-block-1 {
  margin: 140px 0 0;
}

.text-block-2 {
  margin-top: 0 !important;
}

.ship-animation {
  background: transparent;
  height: 200px;
  margin-left: -50px;
  margin-right: -50px;
  padding: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-width: 2px;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  letter-spacing: 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2px;
  padding-top: 3px;
  transition: 0.2s;
}

button[type="submit"] {
  margin-top: 20px;
  margin-right: 0;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  // box-shadow: 2px 2px 0 0 rgba(54, 54, 54, 0.15);
  // padding-top: 2px;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  // box-shadow: 1px 1px 0 0 rgba(54, 54, 54, 0.05);
  // padding-top: 4px;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $primary-btn-background-color;
  border-color: $primary-btn-border-color;
  color: $primary-btn-color;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: $primary-btn-background-hover-color;
  border-color: $primary-btn-background-hover-color;
}

.button.button-outline,
button.button-outline,
input[type="submit"].button-outline,
input[type="reset"].button-outline,
input[type="button"].button-outline {
  background-color: $outline-btn-background-color;
  border-color: $outline-btn-border-color;
  color: $outline-btn-color;
}

.button.button-outline:hover,
button.button-outline:hover,
input[type="submit"].button-outline:hover,
input[type="reset"].button-outline:hover,
input[type="button"].button-outline:hover,
.button.button-outline:focus,
button.button-outline:focus,
input[type="submit"].button-outline:focus,
input[type="reset"].button-outline:focus,
input[type="button"].button-outline:focus {
  background-color: $outline-btn-background-hover-color;
  border-color: $outline-btn-border-hover-color;
  color: $outline-btn-hover-color;
}

label,
.label {
  color: #aaa;
  cursor: pointer;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.label:not(:last-child) {
  margin-bottom: 0.25rem;
}

input.input,
textarea.textarea {
  border-radius: 2px;
  font-family: "futura-pt", Verdana, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  height: 50px;
  padding: 5px 15px 3px;
  border-bottom: 3px solid #ddd;
  box-shadow: none;
  transition: border-color 200ms ease-in-out;
}

textarea.textarea {
  height: auto;
}

input.input:hover,
input.input:active,
input.input:focus,
textarea.textarea:hover,
textarea.textarea:focus,
textarea.textarea:active {
  border: 1px solid #ddd;
  border-bottom: 3px solid $link-color;
  box-shadow: none;
}

label.radio {
  color: #c5c5c5;
  font-family: 'futura-pt';
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  min-width: 16rem;
}

input[type='radio'] {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.radio + .radio {
  margin-left: 0;
}

.radio-label {
  display: inline-block;
  min-width: 10rem;
  transition: color 200ms ease-in-out;
}

.no-padding-sides {
  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

.has-background-grey {
  background: $grey;
}

.has-background-charcoal {
  color: white;
  background: #121217;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.has-half-opacity {
  opacity: 0.13;
}

.form {
  padding: 3.5rem 0 8rem;

  @media (max-width: 800px) {
    margin: 0.25rem;
    padding: 0.5rem 0.5rem 8rem;
  }
}

.field:not(:last-child) {
  margin-bottom: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.shadow {
  box-shadow: 0 15px 35px 0 rgba(60,90,120,.08),
    0 5px 35px rgba(0,0,0,.06) !important;
}

@keyframes shake {
  2% {
    opacity: 0.2;
    transform: translate3d(0, 6px, 0);
  }

  12% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }

  27% {
    opacity: 0.8;
    transform: translate3d(0, 10px, 0);
  }

  40% {
    opacity: 0.8;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
  }
}

.page-transition-group {
  position: relative;
  opacity: 0;
}

.has-position-relative {
  position: relative;
}

.has-height-100 {
  height: 100%;
}

.page-transition-group--active {
  opacity: 1;
  transition: opacity 3s cubic-bezier(0.6, 0, 0.20, 1);
  transition-property: opacity;
}

.animatable-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1200ms cubic-bezier(0.36, 0.07, 0.19, 1.27);
  transform: translate3d(0, 100px, 0);
}

.page-transition-entered .animatable-content {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 101;
  transition-duration: 400ms;
}

.home .page-transition-entered .animatable-content {
  transition-duration: 2000ms;
}

.page-transition-entering .animatable-content {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  z-index: 99;
}

.home .page-transition-entering .animatable-content {
  transform: translate3d(0, 0, 0);
}

.page-transition-exiting .animatable-content {
  opacity: 0;
  transform: translate3d(0, -50px, 0);
  transition-duration: 1000ms;
  z-index: 101;
}

// This doesn't work since if we're on Contact and we click Home, the class is updated
// to home right away and these transition rules will apply to the Contact page that's exiting :(
// .home .page-transition-exiting .animatable-content {
//   transform: translate3d(0, 0, 0);
//   transition-duration: 1200ms;
// }

.tooltip-reference {
  text-decoration: underline;
}

.tooltip {
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 500px;
  padding: 30px 40px;
}

.tooltip strong {
  color: white;
}

.is-rounded img {
  border-radius: 100%;
}

.inline-icon {
  position: relative;
  top: 3px;
}

.is-bottom-marginless {
  margin-bottom: 0;
}

.is-light {
  color: lighten($link-color, 30%);
}

.subtitle-1,
.subtitle-2,
.subtitle-3 {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;

  > * {
    vertical-align: middle;
  }
}

$prefix-icon-width: 2rem;

.prefix-icon {
  width: $prefix-icon-width;
}

.prefix-icon-list {
  margin-left: $prefix-icon-width;
}

.subtitle-1 {
  color: $work-brand-color;
}

.subtitle-2 {
  color: $light-blue;
}

.color-orange {
  color: $light-orange;
}

.background-image-container {
  background-color: rgba(200, 210, 220, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 100;
}

img.background {
  position: absolute;
  min-width: 1000%;
  max-width: 10000%;
  min-height: 1000%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.1);
}

.has-absolute-fullsize {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

ul.ul  {
  margin: 0;
  padding: 0 1em;
  list-style: none;
}

ul.ul li:before {
  content: "";
  border-color: $light-orange transparent;
  border-style: solid;
  border-width: 0 0.25em 0.40em 0.25em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.is-attention-grabby {
  animation: 'attention-grabby' 3s infinite ease-in !important;
}

@keyframes attention-grabby {
  0% {
    color: $danger;
  }
  40% {
    color: $light-blue;
  }
  70% {
    color: $purpleDark;
  }
  100% {
    color: $danger;
  }
}
