@import "./bulma_and_overrides.css.scss";

// Acier BAT Noir
// font-family: acier-bat-noir, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Acier BAT Text Solid
// font-family: acier-bat-solid, sans-serif;
// font-weight: 400;
// font-style: normal;
//
//
// Acier BAT Text Outline
// font-family: acier-bat-outline, sans-serif;
// font-weight: 400;
// font-style: normal;
//
//
// Acier BAT Text Strokes
// font-family: acier-bat-strokes, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Acier BAT Text Gris
// font-family: acier-bat-gris, sans-serif;
// font-weight: 400;
// font-style: normal;

// Futura PT Heavy
// font-family: futura-pt, sans-serif;
// font-weight: 700;
// font-style: normal;
//
// Futura PT Heavy Oblique
// font-family: futura-pt, sans-serif;
// font-weight: 700;
// font-style: italic;
//
// Futura PT Book
// font-family: futura-pt, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Futura PT Book Oblique
// font-family: futura-pt, sans-serif;
// font-weight: 400;
// font-style: italic;
//
// Futura PT Bold
// font-family: futura-pt-bold, sans-serif;
// font-weight: 700;
// font-style: normal;
//
// Futura PT Bold Oblique
// font-family: futura-pt-bold, sans-serif;
// font-weight: 700;
// font-style: italic;
//
// Futura PT Cond Book
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Futura PT Cond Book Oblique
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 400;
// font-style: italic;
//
// Futura PT Cond Bold
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 700;
// font-style: normal;
//
// Futura PT Cond Bold Oblique
// font-family: futura-pt-condensed, sans-serif;
// font-weight: 700;
// font-style: italic;


$link-color: #f0c;
$hover-color: #7fd9d0;


$work-link-color: #2f19a0;
$work-link-hover-color: #ca12be;
$work-brand-color: #fa12be;
$work-brand-hover-color: #ca12be;


$primary-btn-background-color: #333;
$primary-btn-border-color: #3a3a3a;
$primary-btn-background-hover-color: #666;
$primary-btn-color: #fff;

$outline-btn-background-color: transparent;
$outline-btn-border-color: #555;
$outline-btn-background-hover-color: #7fd9d0;
$outline-btn-color: #fff;

* {
  box-sizing: border-box;
}

/* TypeKit font loading */
.wf-loading .nav--link,
.wf-loading .nav--list-item,
.wf-loading .brand {
  font-family: "acier-bat-solid", Verdana, sans-serif;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: all 1.2s ease-in-out;
}

.wf-active .nav--link,
.wf-active .nav--list-item,
.wf-active .brand {
  opacity: 1;
  visibility: visible;
  transition: 1.2s;
  transform: translate3d(0, 0, 0);
}

.wf-loading p,
.wf-loading .post-title,
.wf-loading .continue-reading,
.wf-loading .post {
  font-family: 'futura-pt', sans-serif;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  transition: all 0.7s ease-in-out;
}

.wf-active p,
.wf-active .post-title,
.wf-active .continue-reading,
.wf-active .post {
  opacity: 1;
  visibility: visible;
  transition: 0.7s;
  transform: translate3d(0, 0, 0);
}

/* TypeKit font loading */

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.video-responsive {
  max-width: 100%;
}

.hide-on-desktop {
  @media (min-width: 800px) {
    display: none;
  }

}

.hide-on-mobile {
  @media (max-width: 800px) {
    display: none;
  }

}

.clear-both {
  clear: both;
}

body {
  color: #565659;
  font-family: 'futura-pt', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

a {
  transition: color 0.5s ease;

  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }

}

hr {
  border-color: #f0f0f0;
}

h1,
h2,
h3 {
  color: #121218;
  font-family: "acier-bat-noir", sans-serif;
}

h4,
h5,
h6 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-top: 50px;
  text-transform: uppercase;
  font-style: initial;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1.75rem;

  @media (max-width: 800px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;

  @media (max-width: 800px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;

  @media (max-width: 800px) {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;

  @media (max-width: 800px) {
    font-size: 2rem;
  }
}

h5 {
  font-size: 2rem;
  margin-bottom: 1rem;

  @media (max-width: 800px) {
    font-size: 1.75rem;
  }
}

h5 small {
  font-size: 1.25rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

em {
  color: #333;
  font-style: initial;
  font-weight: 700;
}

.brand {
  color: #fff;
  display: inline-block;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 32px;
  margin: 47px 0 24px;
  position: relative;
  z-index: 1001;

  @media (max-width: 800px) {
    display: inline-block;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 0;
  }

  @media (max-width: 550px) {
    margin-top: 15px;
    margin-left: 0;
  }

  @media (max-width: 422px) {
    margin: 47px 0 24px;
    margin-right: 0;
  }

}

.brand svg {
  height: 57px;
  width: 360px;
}

.hero-bg {
  z-index: 999;

  @media (min-width: 1000px) {
    display: none;
  }

}

.about {
  position: relative;
  height: 100%;
  z-index: 1001;
}

.large--text {
  font-size: 22px;
  margin-bottom: 15px;

  @media (max-width: 1000px) {
    font-size: 17px;
  }

}

.nav {
  list-style: none;
}

.nav-grid {
  display: grid;

  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}

.nav--list-item {
  display: inline-block;
  margin: 0 20px 0 0;
}

.nav--list-item:last-child {
  margin-right: 0;
}

.nav--link {
  // color: #cecece;
  // $link-color: #aaa;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;

  &:hover {
    color: $hover-color;
  }

}

.portfolio-container {
  background: #f3f3f3;
  padding: 60px 0;
  position: relative;
  z-index: 1001;

  // obviously fix this:
  margin-top: 600px;
}

.portfolio--method {
  color: #aaa;
  font-size: 3rem;
}

.portfolio-container--light {
  background: #fff;
}

.portfolio-category--title {
  color: #232436;
  margin-top: 50px;
  text-transform: uppercase;
}

.portfolio-category--title:first-child {
  margin-top: 0;
}

.portfolio--img-link:hover img {
  opacity: 0.85;
}

.portfolio-piece--description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.portfolio-piece--title {
  font-family: "acier-bat-solid", sans-serif;
  text-transform: uppercase;
}

.portfolio-piece--img {
  border: 10px solid #fff;
}

.border-color--dark {
  border-color: #f3f3f3;
}


.work-layout--categories {
  height: 400px;
}

.work-layout--nav {
  padding-top: 60px;
  position: relative;
  z-index: 1001;

  @media (max-width: 800px) {
    // float: left;
    margin-top: 10px;
  }

}

.work-layout--nav .nav--list-item {
  margin: 0 0 0 30px;

  @media (max-width: 800px) {
    margin: 0 10px 0 0;
  }

}

.work-layout--nav .nav--link {
  // color: $link-color;
  // color: rgba(255, 255, 255, 0.8);
  color: white;

  &:hover {
    color: $hover-color;
  }


  @media (max-width: 800px) {
    font-size: 13px;
  }

}

.work .nav--link {
  color: $work-link-color;
}

.work .nav--link:hover {
  color: $work-link-hover-color;
}

.work .brand path {
  fill: $work-brand-color;
}

.work .brand:hover path {
  fill: $work-brand-hover-color;
}

.work-layout--bg-photo {
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;

  @media (max-width: 800px) {
    background-image: none !important;
    height: 200px;
  }


  @media (min-width: 800px) {
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image:
        linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.0),
          rgba(255, 255, 255, 0.2) 60%,
          rgba(255, 255, 255, 0.9) 60%,
          rgba(255, 255, 255, 0.9) 100%
        );
    }

  }

}

ul.list--basic {
  list-style: none;
}

.work-layout--cta {
  background: #f7f7f7;
  padding: 0 0 50px 0;
  margin: 40px 0;
}

.work-layout--copy {
  padding-top: 47px;

  @media (max-width: 800px) {
    padding-top: 0;
  }

}

.page-title {
  font-size: 36px;
  padding-top: 310px;
  position: relative;
  z-index: 1000;

  @media (max-width: 800px) {
    padding-bottom: 30px;
    padding-top: 0;
    font-size: 20px;
  }

}

.post-title {
  font-family: "calluna", "Georgia", serif;
  font-size: 30px;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  padding-top: 40px;
  position: relative;
  text-transform: none;
  z-index: 1000;

  @media (max-width: 800px) {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 24px;
  }

}

.caption {
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.no-padding {
  padding: 0 !important;
}

.pagination {
  margin-top: 80px;
}


.footer {
  background: #fff;
  color: #c2c7cE;
  font-size: 20px;
  padding: 1.5rem 0;

  a {
    color: #92979E;

    &:hover,
    &:focus {
      color: #22272E;
    }

  }

  @media (max-width: 1087px) {
    padding: 1.5rem;
  }
}

p.copyright {
  margin: 30px 0 20px;

  @media (max-width: 1000px) {
    font-size: 13px;
  }

}

p.footnote {
  font-size: 13px;

  @media (max-width: 1000px) {
    font-size: 11px;
  }

}



@font-face {
  font-family: 'si';
  src: url(asset_path('socicon.eot'));
  src: url(asset_path('socicon.eot?#iefix')) format('embedded-opentype'),
       url(asset_path('socicon.woff')) format('woff'),
       url(asset_path('socicon.ttf')) format('truetype'),
       url(asset_path('socicon.svg#icomoonregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family:si;
    src: url(asset_path('socicon.svg')) format(svg);
  }

}


.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.soc li a {
  transition: background-color 0.5s ease;
  transition: opacity 0.5s ease;

  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 51px;
  height: 51px;
  line-height: 51px;
  font-size: 28px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right: 20px;
  color: #ffffff;
  background-color: none;
}

.soc li:last-child a {
  margin-right: 0;
}

.soc a:hover {
  color: #fff;
  z-index: 2;
}

.soc-icon-last{
  margin: 0 !important;
}

.soc-github {
  background-color: rgb(36, 41, 46);
}

.soc-github:before {
  background: transparent url(asset_path('github-logo.png')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-twitter {
  background-color: #4da7de;
}

.soc-twitter:before {
  background: transparent url(asset_path('twitter-logo.png')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-linkedin {
  background-color: #3371b7;
}

.soc-linkedin:before {
  background: transparent url(asset_path('linkedin-logo.png')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-github:hover {
  background-color: #617181;
  opacity: 0.8;
}

.soc-twitter:hover {
  background-color: #61bbf2;
  opacity: 0.8;
}

.soc-facebook:hover {
  background-color: #526fac;
  opacity: 0.8;
}

.soc-linkedin:hover {
  background-color: #4785cb;
  opacity: 0.8;
}

.soc-dribbble {
  background-color: #EA4C89;
}

.soc-dribbble:before {
  background: transparent url(asset_path('dribbble-logo.svg')) no-repeat left top;
  content: " ";
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  width: 51px;
}

.soc-dribbble:hover {
  background-color: #FA5CA9;
  opacity: 0.8;
}

/* Testimonials */
.testimonials--container {
  margin: 0 0 50px;
  position: relative;

  @media (min-width: 800px) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding-bottom: 40px;
  }

}

.testimonials--container--dark {
  background: #f3f3f3;
}

.testimonial-top {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 43%;
  width: 100%;
  z-index: 1;
}

.testimonial-top--dark {
  background: #f3f3f3;
}

.testimonial-bottom {
  background: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 43%;
  width: 100%;
  z-index: 1;
}

.testimonial-bottom--light {
  background: #fff;
}

.testimonial {
  background: #fff;
  position: relative;
  z-index: 1000;
}

.testimonial.is-purple blockquote {
  border-color: #ba8ace;
}

.testimonial.is-purple span.testimonial-name {
  color: #ba8ace;
}

.testimonial.is-green blockquote {
  border-color: #a2d89e;
}

.testimonial.is-green span.testimonial-name {
  color: #a2d89e;
}

.testimonial.is-orange blockquote {
  border-color: #efb765;
}

.testimonial.is-orange span.testimonial-name {
  color: #efb765;
}

.testimonial blockquote {
  border-left: 0;
  border-top: 10px solid #ba8ace;
  color: #666;
  display: block;
  line-height: 5rem;
  font-size: 3.20112rem;
  margin: 40px 0 10px;
  padding: 30px 0 0 0;
}

.testimonial blockquote p {
  padding: 0 30px;
}

.author {
  margin-top: 40px;
}

.author,
.testimonial .testimonial-author {
  overflow: hidden;
  padding: 0 30px 30px;
}

.author--avatar,
.testimonial-author--avatar {
  float: left;
}

.author--name,
.testimonial-author--name {
  float: left;
  margin: 10px;
}

.author img,
.testimonial .testimonial-author img {
  border: 1px solid #f5f5f5;
  border-radius: 150px !important;
  height: 75px;
  margin-right: 10px;
  padding: 3px;
  width: 75px;
}

.author span,
.testimonial .testimonial-author span {
  display: block;
}

.name,
.testimonial span.testimonial-name {
  color: #ba8ace;
  font-weight: 300;
}

.post,
.testimonial span.testimonial-post {
  color: #656565;
}

.text-block-1 {
  margin: 140px 0 0;
}

.text-block-2 {
  margin-top: 0 !important;
}

.ship-animation {
  background: transparent;
  height: 200px;
  margin-left: -50px;
  margin-right: -50px;
  padding: 0;
}

.button.button-huge {
  padding-top: 10px;
  padding-bottom: 15px;

  @media (min-width: 992px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  box-shadow: 2px 2px 0 0 rgba(54, 54, 54, 0.1);
  border-width: 2px;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 46px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 3px;
  transition: 0.2s;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  box-shadow: 3px 3px 0 0 rgba(54, 54, 54, 0.15);
  padding-top: 2px;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  box-shadow: 1px 1px 0 0 rgba(54, 54, 54, 0.05);
  padding-top: 4px;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $primary-btn-background-color;
  border-color: $primary-btn-border-color;
  color: $primary-btn-color;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: $primary-btn-background-hover-color;
  border-color: $primary-btn-background-hover-color;
}

.button.button-outline,
button.button-outline,
input[type="submit"].button-outline,
input[type="reset"].button-outline,
input[type="button"].button-outline {
  background-color: $outline-btn-background-color;
  border-color: $outline-btn-border-color;
  color: $outline-btn-color;
}

.button.button-outline:hover,
button.button-outline:hover,
input[type="submit"].button-outline:hover,
input[type="reset"].button-outline:hover,
input[type="button"].button-outline:hover,
.button.button-outline:focus,
button.button-outline:focus,
input[type="submit"].button-outline:focus,
input[type="reset"].button-outline:focus,
input[type="button"].button-outline:focus {
  background-color: $outline-btn-background-hover-color;
  border-color: $outline-btn-background-hover-color;
}

label,
.label {
  cursor: pointer;
  font-family: "acier-bat-solid", Verdana, sans-serif;
  font-size: 14px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.masonry-layout {
  margin: 0 0 40px;
}


.header-3d {
  position: relative;

  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;
}

.header-3d canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
  .header-3d {
    // height: 65vh;
    // width: 100%;
  }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
  .header-3d {
    // height: 65vh;
    // width: 100%;
  }
}


/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
  .header-3d {
    // height: 75vh;
    // width: 100%;
  }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {
  .header-3d {
    // height: 70vh;
    // width: 100%;
  }
}


/* desktop-xlarge */
@media all and (min-width: 1601px) {
  .header-3d {
    height: 100vh;
    // width: 100%;
  }
}
