$grey: #fafafa;

$link-color: #fa12be;
$hover-color: #7fd9d0;

$work-link-color: #fa12be;
$work-link-hover-color: #0cc0d8;
$work-brand-color: #fa12be;
$work-brand-hover-color: #0cc0d8;

$contact-link-color: #0c14d2;
$contact-link-hover-color: #1fb90a;
$contact-brand-color: #0c14d2;
$contact-brand-hover-color: #1fb90a;

$primary-btn-background-color: #333;
$primary-btn-border-color: #3a3a3a;
$primary-btn-background-hover-color: #de5ae1;
$primary-btn-color: #fff;

$outline-btn-background-color: transparent;
$outline-btn-border-color: #7fc6f5;
$outline-btn-background-hover-color: white;
$outline-btn-color: #fff;
$outline-btn-hover-color: #7fc6f5;
$outline-btn-border-hover-color: white;
