$link-color: #f0c;
$hover-color: #7fd9d0;

$work-link-color: #2f19a0;
$work-link-hover-color: #ca12be;
$work-brand-color: #fa12be;
$work-brand-hover-color: #0cc0d8;

$contact-link-color: #2f19a0;
$contact-link-hover-color: #ca12be;
$contact-brand-color: #0c14d2;
$contact-brand-hover-color: #1fb90a;

$primary-btn-background-color: #333;
$primary-btn-border-color: #3a3a3a;
$primary-btn-background-hover-color: #666;
$primary-btn-color: #fff;

$outline-btn-background-color: transparent;
$outline-btn-border-color: #222;
$outline-btn-background-hover-color: #7fc6f5;
$outline-btn-color: #fff;
