$grey: #f8f8f8;
$pink: #fa12be;
$pinkLight: #de5ae1;
$tealLight: #7fd9d0;
$teal: #0cc0d8;
$blueLight: #7fc6f5;
$orangeLight: #ffa32a;
$purple: #ac9cec;
$purpleDark: #8c75e8;

$link-color: $pink;
$hover-color: $tealLight;

$work-link-color: $pink;
$work-link-hover-color: $teal;
$work-brand-color: $pink;
$work-brand-hover-color: $teal;

$contact-link-color: #0c14d2;
$contact-link-hover-color: #1fb90a;
$contact-brand-color: #0c14d2;
$contact-brand-hover-color: #1fb90a;

$primary-btn-background-color: #3c4049;
$primary-btn-border-color: #3a3a3a;
$primary-btn-background-hover-color: $pinkLight;
$primary-btn-color: #fff;

$outline-btn-background-color: transparent;
$outline-btn-border-color: $blueLight;
$outline-btn-background-hover-color: white;
$outline-btn-color: #fff;
$outline-btn-hover-color: $blueLight;
$outline-btn-border-hover-color: white;
